{% load static %}
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
<script>
    function redirectTo(url) {
        window.location.href = url;
    }
</script>
<title> {% block title %} Title {% endblock %} </title>
<div id='main_page'>
    <div id='nav_bar'>
        <p class='nav_bar header'>Profile</p>
        <p class='nav_bar header'>Connect</p>
        <p class='nav_bar header'>Reviews</p>
        <p class='nav_bar header'>Reporting</p>
    </div>

    <div id='side_bar'>
        {% block sidebar %} Sidebar {% endblock %}
    </div>

    <div id='content'>
        {% block content %} Content {% endblock %}
    </div>
</div>
