{% extends "student.html" %}
{% load static %}
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css"/>
{% block courses %}
    <div id='course_listing'>
        <p class='class_name header'>Course</p>
        <p class='instructor_name header'>Instructor</p>
        <p class='section_number header'>Section</p>
        {% for course in current_courses %}
            <div class='list_item' onClick=redirectTo('{% url 'courses' course.course.cid %}')>
                <p class='class_name item'> {{ course.course.name }} </p>
            </div>
            <p class='instructor_name item'> {{ course.course.instructor.name }} </p>
            <p class='section_number item'> {{ course.course.section }} </p>
            <br>
        {% endfor %}
    </div>
{% endblock %}
