/* Landing Template */
/*body {
  background: url(https://upload.wikimedia.org/wikipedia/en/thumb/2/27/San_Jose_State_Spartans_Logo.svg/996px-San_Jose_State_Spartans_Logo.svg.png) no-repeat;
  background-position: center;
}*/

#signup_login {
  background-color: rgba(72,194,181, .5);
  border-radius: 70px;
  font-size: 50px;
  height: 50%;
  left: 50%;
  position: relative;
  text-align: center;
  top: 20%;
  transform: translate(-50%);
  width: 35%;
}

/* Base Template */
#main_page {
  height: 100%;
  width: 100%;
}

.nav_bar {
  width: 22%;
  vertical-align: middle;
}

#nav_bar {
  background-color: rgba(253,185,48, 0.9);
  border-style: outset;
  height: 7%;
  width: 100%;
  position: relative;
  z-index: 2;
}

#side_bar {
  background-color: rgba(0,85,168, 0.8);
  border-style: outset;
  height: 100%;
  position: relative;
  top: -1%;
  width: 20%;
  z-index: 1;
}

#content {
  height: 100%;
  position: relative;
  left: 20%;
  top: -100%;
  width: 80%;
}

/* Profile Template */
img {
  padding: 20px;
  width: 90%;
  left: 50%;
  position: relative;
  transform: translate(-50%);
}

#side_bar { font-weight: bold; }
#bio { text-align: left; }

#profile_bar {
  background-color: rgba(229,168,35, 1);
  border-style: outset;
  display: inline;
  float: left;
  height: 7%;
  text-align: center;
  position: relative;
  top: -1%;
  width: 100%;
  white-space: nowrap;
  z-index: 0;
}

#profile_bar p {
  position: relative;
}

.profile_center {
  text-align: center;
}

.full_row {
  display: inline-block;
  width: 100%;
  height: 10%;
}

.course_listing {
  width: 27%;
}

.header { float: left; font-size: 30px; font-weight: bold; padding-left: 50px;}
.item { float: left; font-size: 20px; text-align: left; position: relative; padding-left: 50px; }
.itemnofloat { display:inline-block;font-size: 20px; text-align: left; position: relative; padding-left: 50px; }

#odd:nth-child(odd) {
    background-color: rgba(155, 155, 155, 0.3);
}

.class_name {
  width: 30%;
}

.instructor_name {
  width: 30%;
}

.section_number {
  width: 30%;
}

/* Course Template */
.student_name {
  text-align: left;
}
